services:
  nginx:
    image: nginx:mainline-alpine
    ports:
      - 80:80
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf:ro
    - ./index.html:/www/html/index.html

  backend:
    build: .
    ports:
      - 3000:3000

networks:
  backend:
